<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">Recipe Book</a>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
    (click)="toggleMenu()"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" [ngClass]="{'show': showMenu}" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li
        class="nav-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
      >
        <a
          class="nav-link"
          (click)="onSelect('recipe')"
          href="#"
        >
          Recipes <span class="sr-only">(current)</span>
        </a>
      </li>

      <li
        class="nav-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
      >
        <a
          class="nav-link"
          (click)="onSelect('shopping-list')"
          href="#"
        >
          Shopping List
        </a>
      </li>
    </ul>

    <div class="nav-item dropdown" appDropdown cssClass="show">
      <a
        class="nav-link dropdown-toggle"
        href="#"
        id="navbarDropdown"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Manage
      </a>

      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Save Data</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Fetch Data</a>
      </div>
    </div>
  </div>

</nav>
