/* You can add global styles to this file, and also import other style files */

.row {
  margin-left: 0;
  margin-right: 0;
}

.padding-sides-15 {
  padding: 0 15px;
}

.reset-paddings {
  padding: 0;
}

.reset-padding-right {
  padding-right: 0;
}

.reset-padding-left {
  padding-left: 0;
}